//  color variable
$color-dark: #253439;
$color-white: whitesmoke;
$color-lightgrey: lightslategrey;
$color-grey: grey;
$color-red: red;
$color-blue: blue;
$color-orangered: orangered;

// font variables
$rye: 'Rye', cursive;
$special-elite:'Special Elite', cursive;
